@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body,
html {
  position: relative;
  overflow: hidden !important;
}

.active::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -2rem;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  z-index: 20;
}
.active-tab::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -1rem;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  z-index: 20;
}
